.wrap{
    max-width:1000px;
    margin: 0 auto;
    font-family: 微軟正黑體;
    color: #3d1101;
}
a{
    text-decoration: none;
    color:#fff;
}
.hero{
    background-image: url(../images/header_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 420px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
.logo a{
    display: block;
    background-image: url(../images/logo_w\ null.svg);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    width: 120px;
    height: 24px;
    cursor: pointer;
    margin-left: 20px;
}
.menu{
    display: flex;
}
.menu>li{
   margin: 0 30px;
   font-weight: 900;
}
.hamburger a{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
}
@media(max-width:767px){
    .logo a{
        margin-left: 30px;
    }
    .menu{
       display: none; 
    }
    .hamburger a{
        display: block;
        right: 50px;
    }
}
@media(max-width:365px){
    .hero{
        background-image: url(../images/header_mobile.png);
        background-size: cover;
    }
}
.slogan{
   width: 450px;
   height: 150px;
   background: rgba(59, 59, 59, 0.5); 
   color: #fff;
   text-align: center;
   padding: 20px;
   z-index: 2;
   margin: 50px auto;
}
h2{
    font-size: 36px;
    padding-top:10px;
}
.slogan-title{
    padding-top: 20px;
}
.slogan-title span{
    margin-top: 10px;
}
.skill{
    background: #efe9e7;
    padding: 20px;
    margin-top: -20px;
}
.skill-title{
    font-size: 24px;
    text-align: center;
    position: relative;
    line-height: 1.5;
    padding: 20px;
}
.skill-title::before,.skill-title::after{
    width: 13%;
    height: 2px;
    background: #3d1101;
    content: "";
    position: absolute;
    top: 50%;
}
.skill-title::before{
    left: 23%;
}
.skill-title::after{
    right: 23%;
}
@media(max-width:767px){
    .skill-title::before,.skill-title::after{
        display: none;
    }
    .skill-title{
        line-height: 1.5;
    }
}
.feature-group{
    display: flex; 
}
.feature{
     text-align: center;
     margin-top: 30px;
}
.feature h4{
    font-size: 20px;
}
.feature img{
   border-radius: 50%;
   margin-bottom: 10px;
}
.feature p{
    text-align: left;
    line-height: 1.2;
    padding: 20px;
    margin-left: 15px;
}
@media(max-width:767px){
    .feature-group{
        flex-wrap: wrap;
    }
    .feature img{
        float: left;
        padding: 30px;
        margin-bottom: 0;
    }
    .feature h4{
        margin-top: 80px;
    }
}
.chef{
    background: #3d1101;
    color: #fff;
    display: flex;
    padding: 0 10px;
}
.chef-img{
   width: 50%;
   padding: 0 10px;
}
.chef-text{
    width: 50%;
    padding: 20px;
    margin-top: 100px;
}
.chef-text h3{
    padding-bottom: 10px;
    font-size: 24px;
}
.chef-text p{
    line-height: 1.4;
    margin-top: 20px;
}
.chef-text span{
    font-style: italic;
}
@media(max-width:767px){
    .chef{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .chef-img{
        margin-top: 30px;
        width: 100%;
        text-align: center; 
    }
    .chef-text{
        margin-top: 0;
        width: 75%;

    }
}
.feedback{
    background: #efe9e7;
    padding: 20px;
}
.feedback-title{
    text-align: center;
    font-size: 24px;
    padding: 30px;
}
.think-group{
    display: flex;
}
.think{
    position: relative;
    height: auto;
}
.think img{
    border-radius: 50%;
}
.think h4{
    position: absolute;
    top: 12%;
    left: 30%; 
}
.think p{
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}
.think span{
    display: inline-block;
    margin-top: 15%;
    margin-left: 60%;
}
@media(max-width:767px){
    .feedback-title{
        margin-top: -20px;
        padding-top: -20px;
    }
    .think-group{
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
    .think{
        margin: 20px auto;
    }
    .think h4{
        left: 20%;
    }
    .think span{
        margin-top: 10%;
        margin-left: 70%;
    }
}
.booking{
    display: flex;
    width: 100%;
}
.booking-title{
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
    padding: 20px;
}
.map{
    padding: 10px;
    width: 50%;
}
.content{
    padding: 5px;
    width: 50%;
}
.content label{
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 10px;
}
#name,#phone,#email,#people{
    display: block;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
}
.content p{
    display: block;
    margin-top: 15px;
}
#yes,#no{
    display:inline-block;
    margin: 10px;
    margin-top: 15px;
}
.content-btn{
    display: flex;
    margin-top: 20px;
    margin-left: 70%;
}
input[type=submit],input[type=reset]{
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 8px 20px;
    cursor: pointer;
}
input[type=submit]{
    background-color: #F56C23;
    margin-right: 10px;
}
input[type=reset]{
    background-color: rgba(0,0,0,0.35);
}
@media(max-width:767px){
    .booking{
        flex-direction: column;
        align-items: center;
    }
}
.footer{
    background-color:#efe9e7 ;
    display: flex;
    padding: 40px;
    margin-top: 20px;
}
.about{
    width: 33.333%;
}
.about p{
    line-height: 1.5;
}
h6{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact{
    width: 33.333%;
    margin-left: 20px;
}
.contact li{
    line-height: 1.5;
    list-style-type: disc;
    margin-left: 20px;
}
.link h2{
    display: block;
    color: #3d1101;
    background-image: url(../images/logo_l.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    margin-bottom: 10px;
}
.social-group{
    display: flex;
    justify-content: space-around;
}
.social-group img{
    width: 36px;
    height: 36px;
    display: block;
}
@media(max-width:767px){
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    .about{
        width: 60%;
        margin-bottom: 20px;
    }
    .contact{
        width: 60%;
    }
    .contact h6{
        margin-left: -20px;
    }
    .link{
        width: 60%;
    }
    .link h2{
        background-size: 50%;
        margin-top: 20px;
    }
    .social-group{
        justify-content: flex-start;
    }
    .social-group img{
        margin-right: 20px;
    }
}
