/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/* index */
.wrap{
    max-width:1000px;
    margin: 0 auto;
    font-family: 微軟正黑體;
    color: #3d1101;
}
a{
    text-decoration: none;
    color:#fff;
}
.hero{
    background-image: url(../images/header_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 420px;
    position: relative;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
.logo a{
    display: block;
    background-image: url(../images/logo_w\ null.svg);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    width: 120px;
    height: 24px;
    cursor: pointer;
    margin-left: 20px;
}
.menu{
    display: flex;
}
.menu>li{
   margin: 0 10px;
   font-weight: 900;
}
.menu li:hover{
    background: rgba(255, 255, 255,0.5);
}
.menu li:active{
    background-color: #f56c23;
}
.menu li a{
    display: block;
    color: white;
    padding: 15px 20px;
}
.menu li a:hover{
    color: black;
}
.hamburger a{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
}
@media(max-width:767px){
    .logo a{
        margin-left: 30px;
    }
    .menu{
       position: absolute;
       top: 60px;
       left: 0;
       width: 100%;
       max-height: 0;
       overflow: hidden;
       display: block;
       transition: all 0.5s;
    }
    .menu li{
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom:1px solid #f56c23 ;
        text-align: center;
        max-width: 100%;
    }
    .menu li a{
        width: 100%;
        padding: 15px 0;
    }
    .menu li:hover{
        background-color: #fff;
    }
    .menu li:active{
        background-color: #e23d01;
    }
    .hamburger a{
        display: block;
        right: 50px;
    }
    .show .menu{
        max-height: 170px;
    }
}
@media(max-width:365px){
    .hero{
        background-image: url(../images/header_mobile.png);
        background-size: cover;
    }
    .logo a{
        margin-left: 5px;
    }
}
/* slogan */
.slogan{
   width: 450px;
   height: 150px;
   background: rgba(59, 59, 59, 0.5); 
   color: #fff;
   text-align: center;
   padding: 20px;
   z-index: 2;
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   /* margin: 50px auto; */
}
h2{
    font-size: 36px;
    padding-top:10px;
}
.slogan-title{
    padding-top: 20px;
}
.slogan-title span{
    margin-top: 10px;
}
/* skill */
.skill{
    background: #efe9e7;
    padding: 20px;
    margin-top: -20px;
}
.skill-title{
    font-size: 24px;
    text-align: center;
    position: relative;
    line-height: 1.5;
    padding: 20px;
}
.skill-title::before,.skill-title::after{
    width: 13%;
    height: 2px;
    background: #3d1101;
    content: "";
    position: absolute;
    top: 50%;
}
.skill-title::before{
    left: 23%;
}
.skill-title::after{
    right: 23%;
}
@media(max-width:767px){
    .skill-title::before,.skill-title::after{
        display: none;
    }
    .skill-title{
        line-height: 1.5;
    }
}
.feature-group{
    display: flex; 
}
.feature{
     text-align: center;
     margin-top: 30px;
}
.feature h4{
    font-size: 20px;
}
.feature img{
   border-radius: 50%;
   margin-bottom: 10px;
}
.feature p{
    text-align: left;
    line-height: 1.2;
    padding: 20px;
    margin-left: 15px;
}
@media(max-width:767px){
    .feature-group{
        flex-wrap: wrap;
    }
    .feature img{
        float: left;
        padding: 30px;
        margin-bottom: 0;
    }
    .feature h4{
        margin-top: 80px;
    }
}
/* chef */
.chef{
    background: #3d1101;
    color: #fff;
    display: flex;
    padding: 0 10px;
}
.chef-img{
   width: 50%;
   padding: 0 10px;
}
.chef-text{
    width: 50%;
    padding: 20px;
    margin-top: 100px;
}
.chef-text h3{
    padding-bottom: 10px;
    font-size: 24px;
}
.chef-text p{
    line-height: 1.4;
    margin-top: 20px;
}
.chef-text span{
    font-style: italic;
}
@media(max-width:767px){
    .chef{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .chef-img{
        margin-top: 30px;
        width: 100%;
        text-align: center; 
    }
    .chef-text{
        margin-top: 0;
        width: 75%;

    }
}
/* feedback */
.feedback{
    background: #efe9e7;
    padding: 20px;
}
.feedback-title{
    text-align: center;
    font-size: 24px;
    padding: 30px;
}
.think-group{
    display: flex;
}
.think{
    position: relative;
    height: auto;
}
.think img{
    border-radius: 50%;
}
.think h4{
    position: absolute;
    top: 12%;
    left: 30%; 
}
.think p{
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}
.think span{
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
}
@media(max-width:767px){
    .feedback-title{
        margin-top: -20px;
        padding-top: -20px;
    }
    .think-group{
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
    .think{
        margin: 20px auto;
    }
    .think h4{
        left: 20%;
    }
    .think span{
        margin-top: 10%;
        margin-left: 70%;
    }
}
/* booking */
.booking{
    display: flex;
    width: 100%;
}
.booking-title{
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
    padding: 20px;
}
.map{
    padding: 10px;
    width: 50%;
}
.content{
    padding: 15px;
    width: 50%;
    margin-bottom: 30px;
}
.content label{
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 10px;
}
#name,#phone,#email,#people{
    display: block;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
}
.content p{
    display: block;
    margin-top: 15px;
}
#yes,#no{
    display:inline-block;
    margin: 10px;
    margin-top: 15px;
}
.content-btn{
    display: flex;
    justify-content: flex-end;
}
input[type=button],input[type=reset]{
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 8px 10px;
    cursor: pointer;
    margin: 0;
}
input[type=button]{
    background-color: #F56C23;
    margin-right: 10px;
}
input[type=button]:hover{
    background-color: #e23d01;
}
input[type=reset]{
    background-color: rgba(0,0,0,0.35);
}
input[type=reset]:hover{
    background-color:rgba(0,0,0,0.5);
}
@media(max-width:767px){
    .booking{
        flex-direction: column;
        align-items: center;
    }
}


/* footer */
.footer{
    background-color:#efe9e7 ;
    display: flex;
    padding: 40px;
    margin-top: -20px;
}
.about{
    width: 33.333%;
}
.about p{
    line-height: 1.5;
}
h6{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact{
    width: 33.333%;
    margin-left: 20px;
}
.contact li{
    line-height: 1.5;
    list-style-type: disc;
    margin-left: 20px;
}
.link h2{
    display: block;
    color: #3d1101;
    background-image: url(../images/logo_l.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    margin-bottom: 10px;
}
.social-group{
    display: flex;
    justify-content: space-around;
}
.social-group img{
    width: 36px;
    height: 36px;
    display: block;
}
@media(max-width:767px){
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    .about{
        width: 60%;
        margin-bottom: 20px;
    }
    .contact{
        width: 60%;
    }
    .contact h6{
        margin-left: -20px;
    }
    .link{
        width: 60%;
    }
    .link h2{
        background-size: 50%;
        margin-top: 20px;
    }
    .social-group{
        justify-content: flex-start;
    }
    .social-group img{
        margin-right: 20px;
    }
}

/* sidebar */
.product{
    display: flex;
}
.sidebar{
    background-color: #efe9e7;
    padding: 20px;
    width: 25%;
}
.sidebar h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.sidebar i{
    padding-right: 10px;
    font-size: 36px;
}
.list-group{
    padding: 10px;
}
.list{
    display: block;
    color: #3d1101;
    font-size: 20px;
    line-height: 2.3;
    border-bottom: 1px solid #3d1101;
}
.list:hover{
    color: #fff;
    background-color: #3d1101;
    transition: all 0.3s;
}
.list-active{
    background-color: #3d1101;
    color: #fff;
}
.shopgroup{
    background:#efe9e7;
    width: 75%;
    padding: 20px;  
}
.searchbar{
    display: flex;
    padding: 20px;
}
.searchbar input{
    width: 60%;
    height: 32px;
    border: 2px solid #3d1101;
    border-right:none;
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px;
}
.searchbar button{
    width: 32px;
    height: 32px;
    border: 2px solid #3d1101;
    border-top-right-radius: 2px;
    border-bottom-right-radius:2px;
    color: #fff;
    background-color: #3d1101;
    margin-left: -5px;
    cursor: pointer;
}
.shopping{
    display: flex;
    justify-content: flex-end;
    margin-left: 20%;
    position: relative;
}
.shopping li{
    display: inline-block;
}
.buy{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.shopping li a{
    color: #3d1101;
}
.cart{
    border-left: 1px solid #3d1101;
    margin-left: 5px;
    padding-left: 8px;
}
.quantity{
    position: absolute;
    font-size: 12px;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #f56c23;
}
@media(max-width:767px){
    .product{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
    }
    .sidebar h4{
        margin-left: 10px;
    }
    .content{
        width: 100%;
    }
    .searchbar{
        margin-top: -30px;
    }
    .searchbar input{
        width: 80%;
    }
    .shopping{
        margin-left: 10px;
        margin-top: 50px;
    }
    .buy{
        display: block;
        margin-bottom: 10px;
    }
}
/* card-group */
.card-group{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    width: 30%;
    box-shadow: 3px 3px 4px #333;
    margin: 10px;
}
.hotfood{
    display: none;
}
.card{
    text-align: center;
    position: relative;
    padding-bottom: 5px;
}
.card img{
    height: 110px;
}
.card h5{
    font-size: 20px;
    padding: 20px;   
}
.name{
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.border{
    width: 90px;
    height: 2px;
    background-color: #3d1101;
    margin: 10px auto;
}
.price{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}
.addcar{
    display: block;
    border: 4px solid #f56c23;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    padding: 8px;
    color: #f56c23;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.addcar .fa-shopping-cart{
    padding-right: 10px;
}
.addcar:hover{
    background-color: #F56C23;
    color: white;
}
.addcar:active{
    background-color: #e23d01;
    border: #e23d01 4px solid;
}
.heart{
    position: absolute;
    color: #fff;
    font-size: 24px;
    top: 8px;
    left: 10px;
    display: block;
}
@media(max-width:767px){
    .tag{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
}
/* login */
.container{
    background-color: #efe9e7;
}
.container h4{
    background-image: url(../images/logo_l.svg);
    background-repeat: no-repeat;
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    max-width: 240px;
    height: auto;
    margin: 0 auto;
}
.login{
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
}
.login-text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}
.login form,.registerlow{
    border-top: 2px solid #f56c23;
    margin: 20px 0;
    box-shadow: 3px 3px 3px gray;
    border-radius: 2px;
    padding: 15px;
}
form h5{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mailgroup,.passwordgroup{
    position: relative;
    margin-bottom: 10px;
}
#mail,#password{
    display: block;
    width: 100%;
    padding: 8px 26px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid gray;
    margin-top: 3px;
}
.fa-envelope-o,.fa-lock{
    position: absolute;
    top: 25px;
    left: 5px;
    font-size: 20px;
}
.lock2{
    position: absolute;
    top: 62px;
    left: 5px;
    font-size: 20px;
}
.forget{
    display: block;
    color:#f56c23;
    margin-bottom: 20px;
    font-size: 14px;
}
.signup,input[type=submit]{
    display: block;
    width: 48%;
    text-align: center;
    border-radius:3px ;
    font-size: 14px;
    margin-left: 3px;
}

.signup{
    float: left;
    background-color:rgb(204, 201, 201);
    padding: 10.5px;
    margin-right: 5px;
}
.signup:hover{
    background-color: rgb(80, 79, 79);
}
 input[type=submit]{
    color: #fff;
    background-color: #f56c23;
    margin-left: 2px;
    padding: 8px 0;
    border: 0;
    cursor: pointer;
    outline: 0;
}
input[type=submit]:hover{
    background-color: #e23d01;
}
/* register */
.register{
    max-width: 620px;
    margin: 0 auto;
    padding: 30px 0;
}
.registerlow{
    padding: 20px;
    display: flex;
    position: relative;
}
.registerlow h5{
    position: absolute;
    left: 43%;
}
.l-flex,.r-flex{
    flex-basis: 50%;
    margin-top: 45px;
}
.register h5{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.signin{
    display: block;
    color:#f56c23;
    margin-bottom: 20px;
    font-size: 14px;
}
.signin:hover{
    background-color: #e23d01;
}
.r-flex input[type="submit"]{
    width: 125px;
    margin-left: 55%;
    margin-top: 30px;
}
@media(max-width:767px){
    .registerlow{
        display:flex;
        flex-direction: column;
    }
    .r-flex{
        margin-top: 20px;
    }
    .r-flex input[type="submit"]{
        margin-left: 78%;
    }
}